/* add css module styles here (optional) */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;
}

.arrow {
  position: relative;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow .inner {
  position: relative;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  max-width: 100%;
  width: fit-content;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}

canvas:hover {
  cursor: pointer;
}

.button {
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #141414;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
}

.span {
  margin: 0 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #aaa;
  width: 100px;
  display: inline-block;
  text-align: center;
}

.absolute button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #141414;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  z-index: 99;
  padding: 5px 12px;
}

.absolute button:nth-child(1) {
  left: 5%;
}

.absolute button:nth-child(2) {
  right: 5%;
}

button {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

button:not(:disabled):hover {
  background-color: #000;
  opacity: .8 !important;
}

.btnPrint {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 99;
  border: none;
  color: #141414;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 12px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btnPrint:hover {
  color: #fff;
}

.btnPrint svg {
  width: 20px;
  height: 20px;
}